@import "../../variables.scss";

.cart-icon {
  color: $primary-color;
  width: 55px;
  height: 55px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in;
  .shopping-icon {
    width: 30px;
    height: 30px;
  }

  .item-count {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    bottom: 38px;
    right: 8px;
  }
  &:hover {
    transform: scale(1.15);
  }
}
