@import "../../variables.scss";

footer {
  width: 100%;
  color: #fff;
  font-size: 14px;
  background-color: $primary-color;
  position: absolute;
  left: 0;
  // bottom: 0;
  padding: 0 20px;
  text-transform: uppercase;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  ul {
    margin: 0;
    list-style: none;
    display: flex;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    li {
      padding: 10px;
    }
  }
  a {
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease-in;
    &:hover {
      border-bottom: 1px solid #fff;
    }
  }

  #footer-copyright {
    order: 2;
    font-size: 10px;
  }
}

@media (min-width: 576px) {
  footer ul {
    padding: 10px 15px;
  }
}

@media (min-width: 700px) {
  footer #footer-copyright {
    order: 0;
    font-size: 12px;
  }
}
