* {
  box-sizing: border-box;
}

body {
  padding: 20px 80px;
  margin: 0;
  font-family: "Open Sans";
  min-height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

@media screen and (max-width: 768px) {
  body {
    padding: 20px 30px;
  }
}
